html, body {
    height: 100%;
}

body,
img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: url(https://image.freepik.com/free-photo/sun-cloud-background-with-pastel-colour_66899-223.jpg);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
}

header,
#btnItems {
    background-color: darkcyan;
}

#searchWrapper,
button,
#btnItems,
.footer {
    text-align: center;
}

header {
    color: white;
    margin-bottom: 25px;
    padding: 15px;
}

#searchWrapper,
#weatherWrapper {
    background-color: lightcyan;
    border-radius: 15px;
    padding: 25px;
}

.searchLabel,
#searchBar,
#searchBtn,
#dltBtn {
    margin-bottom: 10px;
}

#searchHistory {
    margin-top: 10px;
}

.searchLabel {
    font-size: x-large;
    font-weight: bold;
    margin-top: 5px;
}

input,
button {
    width: 100%;
}

input,
#btnItems {
    text-transform: uppercase;
}

#btnItems {
    border-radius: 5px;
    color: white;
    margin: 5px;

    width: 90%;
}

#btnItems:hover {
    background-color: darkslategrey;
    transition: all .2s ease-in-out;
}



p {
    color: black;
}

.high{
    color: white;
    background-color: red;
}

.medium{
    color: black;
    background-color: goldenrod;
}

.low{
    color: black;
    background-color: lightgreen;
}

.footer {
    background-color: lightgray;
    bottom: 0;
    color: #2e2e2e;
    flex-shrink: 0;
    left: 0;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 25px;
    position: fixed;
    width: 100%;
}

@media screen and (max-width: 768px), screen and (max-width: 575px) {
h1{
    font-size: 60px !important;
}

.mainContent{
    font-size:16px;
}

img {
    display: none;
}

.mainContent,
button {
    width: 100%;
}